<template>
  <component :is="type" class="page">
    <NavBar
      active="ContactPage"
      :navItems="[
        { name: 'Template', component: 'Index', href: '/#/' },
        { name: 'Angebot', component: 'OffersPage', href: '/#/Angebot' },
        { name: 'Partner', component: 'AssociatePage', href: '/#/Partner' },
        { name: 'Kontakt', component: 'ContactPage', href: '/#/Kontakt' },
        { name: 'Impressum', component: 'ImprintPage', href: '/#/Impressum' },
      ]"
    />
    <Fullpage>
      <Heading level="h2">Kontakt</Heading>
      <Paragraph>
        <Input label="Vorname" placeholder="Vorname" id="user_name" />
        <Input label="Nachname" placeholder="Nachname" id="user_pass" />
        <Textarea label="Default textarea" placeholder="Write your text" id="textarea-1" />
        <Button>Senden</Button>
      </Paragraph>
    </Fullpage>
  </component>
</template>
<script>
/**
 * Shows how to layout and structure a home page.
 */
export default {
  name: "Index",
  status: "deprecated",
  release: "1.0.0",
  metaInfo: {
    title: "Kontakt",
    htmlAttrs: {
      lang: "de",
    },
  },
  props: {
    /**
     * The html element name used for the component.
     */
    type: {
      type: String,
      default: "div",
    },
  },
}
</script>

<style lang="scss" scoped>
// Design Tokens with local scope
$color-template-background: $color-rich-black;
$color-template-background-top: tint($color-template-background, 5%);
$color-template-background-bottom: shade($color-template-background, 5%);
$color-template-text: $color-white;
$color-template-link: $color-bleu-de-france;

.page {
  @include reset;
  @include inset-space($space-m);
  max-height: $space-xxl * 6;
  background: $color-template-background;
  background: linear-gradient(
    0deg,
    $color-template-background-bottom,
    $color-template-background-top 100%
  );
  text-align: center;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  @media #{$media-query-l} {
    // This is how you’d use design tokens with media queries
  }
  .heading {
    color: $color-template-text;
  }
  .paragraph {
    color: $color-template-text;
  }
  .text-link {
    color: $color-template-link;
  }
  a {
    font-family: $font-text;
    color: $color-bleu-de-france;
    text-decoration: underline;
  }
  .wrapper {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: $space-xxl * 10;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
</style>

<docs>
  ```jsx
  <Index />
  ```
</docs>
