<template>
  <component :is="type" class="page">
    <NavBar
      active="ImprintPage"
      :navItems="[
        { name: 'Willkommen', component: 'Index', href: '/#/' },
        { name: 'Angebot', component: 'OffersPage', href: '/#/Angebot' },
        { name: 'Partner', component: 'AssociatePage', href: '/#/Partner' },
        { name: 'Kontakt', component: 'ContactPage', href: '/#/Kontakt' },
        { name: 'Impressum', component: 'ImprintPage', href: '/#/Impressum' },
      ]"
    />
    <Fullpage>
      <Heading level="h2">Impressum</Heading>
      <Paragraph>
        <h1 id="angaben-gem-5-tmg">Angaben gem&auml;&szlig; &sect; 5 TMG</h1>
        <Paragraph
          ><strong>
            Max Muster Musterweg 12345 Musterstadt
          </strong></Paragraph
        >
        <Paragraph>Vertreten durch: <strong>Max Muster</strong></Paragraph>
        <h6 id="kontakt-">Kontakt:</h6>
        <Paragraph>Telefon: 01234-789456 Fax: 1234-56789 E-Mail: max@muster.de</Paragraph>
        <h6 id="umsatzsteuer-id-">Umsatzsteuer-ID:</h6>
        <Paragraph
          >Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27a Umsatzsteuergesetz:
          Musterustid.</Paragraph
        >
        <h6 id="wirtschafts-id-">Wirtschafts-ID:</h6>
        <Paragraph>Musterwirtschaftsid Aufsichtsbeh&ouml;rde: Musteraufsicht Musterstadt</Paragraph>
        <Paragraph
          >Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV: Max Muster Musterweg 12345
          Musterstadt</Paragraph
        >
        <h2 id="haftungsausschluss-">Haftungsausschluss:</h2>
        <h3 id="haftung-f-r-inhalte">Haftung f&uuml;r Inhalte</h3>
        <Paragraph
          >Die Inhalte unserer Seiten wurden mit gr&ouml;&szlig;ter Sorgfalt erstellt. F&uuml;r die
          Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch
          keine Gew&auml;hr &uuml;bernehmen. Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7
          Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
          verantwortlich. Nach &sect; &sect; 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
          verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen
          oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen.
          Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
          allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist
          jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich.
          Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
          entfernen.</Paragraph
        >
        <h3 id="haftung-f-r-links">Haftung f&uuml;r Links</h3>
        <Paragraph
          >Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir
          keinen Einfluss haben. Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine
          Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte der verlinkten Seiten ist stets der
          jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden
          zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e
          &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
          erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
          konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
          Rechtsverletzungen werden wir derartige Links umgehend entfernen.</Paragraph
        >
        <h3 id="urheberrecht">Urheberrecht</h3>
        <Paragraph
          >Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen
          dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede
          Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der
          schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien
          dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch gestattet.
          Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die
          Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
          gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
          bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
          werden wir derartige Inhalte umgehend entfernen.</Paragraph
        >
        <h3 id="datenschutz">Datenschutz</h3>
        <Paragraph
          >Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten
          m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name,
          Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit m&ouml;glich, stets
          auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung nicht
          an Dritte weitergegeben. Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet
          (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein
          l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich. Der
          Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten durch
          Dritte zur &uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und
          Informationsmaterialien wird hiermit ausdr&uuml;cklich widersprochen. Die Betreiber der
          Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im Falle der unverlangten
          Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</Paragraph
        >
        <h3 id="google-analytics">Google Analytics</h3>
        <Paragraph
          >Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc.
          (&#39;&#39;Google&#39;&#39;). Google Analytics verwendet sog. &#39;&#39;Cookies&#39;&#39;,
          Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung
          der Website durch Sie erm&ouml;glicht. Die durch den Cookie erzeugten Informationen
          &uuml;ber Ihre Benutzung dieser Website (einschlie&szlig;lich Ihrer IP-Adresse) wird an
          einen Server von Google in den USA &uuml;bertragen und dort gespeichert. Google wird diese
          Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports &uuml;ber die
          Websiteaktivit&auml;ten f&uuml;r die Websitebetreiber zusammenzustellen und um weitere mit
          der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch
          wird Google diese Informationen gegebenenfalls an Dritte &uuml;bertragen, sofern dies
          gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google
          verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in
          Verbindung bringen. Sie k&ouml;nnen die Installation der Cookies durch eine entsprechende
          Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie
          in diesem Fall gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website voll
          umf&auml;nglich nutzen k&ouml;nnen. Durch die Nutzung dieser Website erkl&auml;ren Sie
          sich mit der Bearbeitung der &uuml;ber Sie erhobenen Daten durch Google in der zuvor
          beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</Paragraph
        >
        <h3 id="google-adsense">Google AdSense</h3>
        <Paragraph
          >Diese Website benutzt Google Adsense, einen Webanzeigendienst der Google Inc., USA
          (&#39;&#39;Google&#39;&#39;). Google Adsense verwendet sog. &#39;&#39;Cookies&#39;&#39;
          (Textdateien), die auf Ihrem Computer gespeichert werden und die eine Analyse der
          Benutzung der Website durch Sie erm&ouml;glicht. Google Adsense verwendet auch sog.
          &#39;&#39;Web Beacons&#39;&#39; (kleine unsichtbare Grafiken) zur Sammlung von
          Informationen. Durch die Verwendung des Web Beacons k&ouml;nnen einfache Aktionen wie der
          Besucherverkehr auf der Webseite aufgezeichnet und gesammelt werden. Die durch den Cookie
          und/oder Web Beacon erzeugten Informationen &uuml;ber Ihre Benutzung dieser Website
          (einschlie&szlig;lich Ihrer IP-Adresse) werden an einen Server von Google in den USA
          &uuml;bertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre
          Nutzung der Website im Hinblick auf die Anzeigen auszuwerten, um Reports &uuml;ber die
          Websiteaktivit&auml;ten und Anzeigen f&uuml;r die Websitebetreiber zusammenzustellen und
          um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu
          erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte &uuml;bertragen,
          sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google
          verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in
          Verbindung bringen. Das Speichern von Cookies auf Ihrer Festplatte und die Anzeige von Web
          Beacons k&ouml;nnen Sie verhindern, indem Sie in Ihren Browser-Einstellungen
          &#39;&#39;keine Cookies akzeptieren&#39;&#39; w&auml;hlen (Im MS Internet-Explorer unter
          &#39;&#39;Extras &gt; Internetoptionen &gt; Datenschutz &gt; Einstellung&#39;&#39;; im
          Firefox unter &#39;&#39;Extras &gt; Einstellungen &gt; Datenschutz &gt;
          Cookies&#39;&#39;); wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
          gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website voll umf&auml;nglich nutzen
          k&ouml;nnen. Durch die Nutzung dieser Website erkl&auml;ren Sie sich mit der Bearbeitung
          der &uuml;ber Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise
          und zu dem zuvor benannten Zweck einverstanden.
        </Paragraph>
      </Paragraph>
    </Fullpage>
  </component>
</template>

<script>
/**
 * Shows how to layout and structure a home page.
 */
export default {
  name: "Index",
  status: "deprecated",
  release: "1.0.0",
  metaInfo: {
    title: "Vue Design System",
    htmlAttrs: {
      lang: "de",
    },
  },
  props: {
    /**
     * The html element name used for the component.
     */
    type: {
      type: String,
      default: "div",
    },
  },
}
</script>

<style lang="scss" scoped>
// Design Tokens with local scope
$color-template-background: $color-rich-black;
$color-template-background-top: tint($color-template-background, 5%);
$color-template-background-bottom: shade($color-template-background, 5%);
$color-template-text: $color-white;
$color-template-link: $color-bleu-de-france;

.page {
  @include reset;
  @include inset-space($space-m);
  min-height: $space-xxl * 4;
  background: $color-template-background;
  background: linear-gradient(
    0deg,
    $color-template-background-bottom,
    $color-template-background-top 100%
  );
  text-align: left;
  position: relative;
  overflow: auto;
  float: left;
  height: 100%;
  width: 100%;
  @media #{$media-query-l} {
    // This is how you’d use design tokens with media queries
  }
  .heading {
    color: $color-template-text;
    text-align: center;
  }
  .paragraph {
    color: $color-template-text;
  }
  .text-link {
    color: $color-template-link;
  }
  .wrapper {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: $space-xxl * 10;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
  a {
    font-family: $font-text;
    color: $color-bleu-de-france;
    text-decoration: underline;
  }
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}
</style>

<docs>
  ```jsx
  <Index />
  ```
</docs>
